<div style="background-color: teal; padding: 10px;">
    <h2>Sales Data Analysis</h2>
</div>

The objectives of this analysis is to find insightful trends existing in the Sales data. The dataset comprises of the sales from various devices in the year 2019 with a record of the Order ID, Products, Quantity Ordered, the address and also the time of purchase. 

The analysis is carried out by Data Cleaning, Data Exploration and Data Anlaysis and displaying Insights garnered utilizing common python packages like Pandas, Seaborn and Matplotliib.

In [1]:
# Import Packages

import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from datetime import datetime
import warnings
from warnings import filterwarnings
warnings.filterwarnings('ignore')

In [2]:
# Read Data Source into DataFrame

# Data Source on GitHub
url = 'https://raw.githubusercontent.com/Rennyunit/git_practice/main/Sales_data.ftr'

# Use Pandas to read data source into a DataFrame
df = pd.read_feather(url)

<div style="background-color: teal; padding: 10px;">
    <h3>| Data Inspection</h3>
</div>

In [3]:
# Check data types and structure

print(df.dtypes,'\n')
print(df.head(),'\n')
print(df.columns,'\n')
print(df.shape)

Order ID            object
Product             object
Quantity Ordered    object
Price Each          object
Order Date          object
Purchase Address    object
dtype: object

  Order ID                     Product Quantity Ordered Price Each  \
0   176558        USB-C Charging Cable                2      11.95
1     None                        None             None       None
2   176559  Bose SoundSport Headphones                1      99.99
3   176560                Google Phone                1        600
4   176560            Wired Headphones                1      11.99

       Order Date                      Purchase Address
0  04/19/19 08:46          917 1st St, Dallas, TX 75001
1            None                                  None
2  04/07/19 22:30     682 Chestnut St, Boston, MA 02215
3  04/12/19 14:38  669 Spruce St, Los Angeles, CA 90001
4  04/12/19 14:38  669 Spruce St, Los Angeles, CA 90001

Index(['Order ID', 'Product', 'Quantity Ordered', 'Price Each', 'Order Date',
       'Purchase Address'],
      dtype='object')

(186850, 6)

<div style="background-color: teal; padding: 10px;">
    <h3>| Data Cleaning: Missing and Duplicated Data</h3>
</div>

#### The dataset has to be queried for missing (null) and duplicated data to avoid erroneous analysis.

In [4]:
# Check for missing data

null_data  = df.isnull().sum()
print(null_data)

missing_data = null_data[0]/len(df)*100
print(f"\nThe missing data is {missing_data:.2f}% of the total dataframe and missing across all columns. Therefore, removing this from the dataframe would have insignificant impact on the analysis.")

Order ID            545
Product             545
Quantity Ordered    545
Price Each          545
Order Date          545
Purchase Address    545
dtype: int64

The missing data is 0.29% of the total dataframe and missing across all columns. Therefore, removing this from the dataframe would have insignificant impact on the analysis.

In [5]:
# Drop all missing data across columns and update dataframe

df.dropna(how = 'all',inplace = True)
print(df.isnull().sum())

Order ID            0
Product             0
Quantity Ordered    0
Price Each          0
Order Date          0
Purchase Address    0
dtype: int64

In [6]:
# Check for duplicated data

duplicated_data = df.duplicated().sum()
print(f"\n There are {duplicated_data} duplicate rows in the dataframe.\n")
print(df[df.duplicated()])

 There are 618 duplicate rows in the dataframe.

        Order ID                     Product  Quantity Ordered  Price Each  \
31        176585  Bose SoundSport Headphones                 1       99.99
1149    Order ID                     Product  Quantity Ordered  Price Each
1155    Order ID                     Product  Quantity Ordered  Price Each
1302      177795    Apple Airpods Headphones                 1         150
1684      178158        USB-C Charging Cable                 1       11.95
...          ...                         ...               ...         ...
186563  Order ID                     Product  Quantity Ordered  Price Each
186632  Order ID                     Product  Quantity Ordered  Price Each
186738  Order ID                     Product  Quantity Ordered  Price Each
186782    259296    Apple Airpods Headphones                 1         150
186785    259297    Lightning Charging Cable                 1       14.95

            Order Date                        Purchase Address
31      04/07/19 11:31       823 Highland St, Boston, MA 02215
1149        Order Date                        Purchase Address
1155        Order Date                        Purchase Address
1302    04/27/19 19:45          740 14th St, Seattle, WA 98101
1684    04/28/19 21:13  197 Center St, San Francisco, CA 94016
...                ...                                     ...
186563      Order Date                        Purchase Address
186632      Order Date                        Purchase Address
186738      Order Date                        Purchase Address
186782  09/28/19 16:48            894 6th St, Dallas, TX 75001
186785  09/15/19 18:54           138 Main St, Boston, MA 02215

[618 rows x 6 columns]

In [7]:
# Remove all duplicate rows

df.drop_duplicates(inplace = True)
print(df[df.duplicated()])

Empty DataFrame
Columns: [Order ID, Product, Quantity Ordered, Price Each, Order Date, Purchase Address]
Index: []

<div style="background-color: teal; padding: 10px;">
    <h3>Data Insights</h3>
</div>

<div style="background-color: #00AFAF; padding: 10px;">
    <h3>| Month with highest sales</h3>
</div>

In [8]:
# Check for row with erroneous data 

df[df['Order Date'] == 'Order Date']

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
519,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address

In [ ]:
# Use  row index to remove erroneous data

df.drop(519, inplace = True)
df.head()

In [ ]:
#Convert Date to datetime type

df['Order Date'] = pd.to_datetime(df['Order Date'], format = '%m/%d/%y %H:%M')

In [ ]:
# Extract month from the Order Date column

df['Order Month'] = df['Order Date'].dt.month

In [ ]:
# Create a Month column to show the month names instead of numbers

month_dict = {1: 'January', 2: 'February', 3: 'March', 4: 'April', 5: 'May', 6: 'June', 7: 'July', 8: 'August', 9: 'September', 10: 'October', 11: 'November',
12:'December'}
df['Month Name'] = df['Order Month'].map(month_dict)

In [ ]:
# Change data types

df['Quantity Ordered'] = df['Quantity Ordered'].astype(int)
df['Price Each'] = df['Price Each'].astype(float)

In [ ]:
# Calculate the ampunt for each Sale
df['Sales'] = df['Quantity Ordered'] * df['Price Each']

In [ ]:
# Calculate Sales amount per month

monthly_sales = round(df.groupby(['Month Name', 'Order Month'])['Sales' ].sum()).reset_index().sort_values('Order Month').reset_index(drop = True)
monthly_sales

In [ ]:
# Plot the Sales by Month

plt.figure(figsize = (15,10))
g = sns.barplot(x = 'Month Name', y= 'Sales', data = monthly_sales, palette = 'mako' )
g.set_title("Sales by Month", fontsize = 16)
plt.xlabel('Month', fontsize = 14)
plt.ylabel('Sales', fontsize = 14)
plt.show()

In [ ]:
highest_sales_month = monthly_sales[monthly_sales['Sales'] == monthly_sales['Sales'].max()]
print(f"{highest_sales_month.iloc[0]['Month Name']} has the highest sales with a total value of {highest_sales_month.iloc[0]['Sales']:,.0f}.")

<div style="background-color: #00AFAF; padding: 10px;">
    <h3>| Most popular kind of products sold  </h3>
</div>

In [ ]:
# Categorize the products
# Create a dictionary of products as keys and categories as values

cat_dict = {'USB-C Charging Cable' :'Charger', 'Bose SoundSport Headphones':'Headphone',
       'Google Phone': 'Phone', 'Wired Headphones':'Headphone', 'Macbook Pro Laptop':'Laptop',
       'Lightning Charging Cable':'Charger', '27in 4K Gaming Monitor': 'Monitor',
       'AA Batteries (4-pack)': 'Battery', 'Apple Airpods Headphones': 'Headphone',
       'AAA Batteries (4-pack)': 'Battery', 'iPhone': 'Phone', 'Flatscreen TV': 'Television',
       '27in FHD Monitor':'Monitor', '20in Monitor':'Monitor', 'LG Dryer':'Washing Machine', 'ThinkPad Laptop':'Laptop',
       'Vareebadd Phone': 'Phone', 'LG Washing Machine': 'Washing Machine', '34in Ultrawide Monitor':'Monitor'}

In [ ]:
# Create new column by mapping the category dictionary

df['Category'] = df['Product'].map(cat_dict)

In [ ]:
# Calculate Quantity of Product sold

quantity_product = round(df.groupby(['Category'])['Quantity Ordered' ].sum()).sort_values(ascending = False).reset_index()
quantity_product.head()

In [ ]:
# Plot a chart showing the quantity ordered by category

plt.figure(figsize=(8, 8))
sns.set_palette('viridis')
plt.pie(quantity_product['Quantity Ordered'], labels=quantity_product['Category'], autopct='%1.1f%%', startangle=140)
plt.title('Quantity Ordered by Category')
title = plt.gca().title
title.set_position([0.5, 1.05])
plt.axis('equal')  # Equal aspect ratio ensures that pie is drawn as a circle
plt.legend(quantity_product['Category'], title="Categories", loc="upper right",bbox_to_anchor=(1.3, 1.2))
plt.show()



<div style="background-color: #00AFAF; padding: 10px;">
    <h3>| Order count by City</h3>
</div>

In [ ]:
# Extract the City from the Purchase Address column using List comprehension

df['City'] = [i.split(',')[1] for i in df['Purchase Address'] ]

df_city = df.groupby('City')['Order ID'].nunique().reset_index()

df_city.head()

In [ ]:
# City with most orders

most_orders_city = df_city.sort_values('Order ID',ascending  = False).iloc[0]
most_orders_city

In [ ]:
plt.figure(figsize=(15, 8))
sns.barplot(x ='City', y = 'Order ID', data=df_city, palette='viridis')
plt.title('Orders by City')
plt.xlabel('City')
plt.ylabel('Number of Orders')
plt.show()

<div style="background-color: #00AFAF; padding: 10px;">
    <h3>| Relationship between Quantity Ordered and Price Each</h3>
</div>

In [ ]:
# Calculate the Total Quantity Ordered and Unit Price per product

product_count = df.groupby('Product')['Quantity Ordered','Price Each'].agg({'Quantity Ordered': 'sum', 'Price Each':'mean'})
product_count = product_count.reset_index()
product_count

In [ ]:
# Creating twin axes: Quantity Ordered and Unit Price

fig,ax1 = plt.subplots(figsize = (15,10))
ax2 = ax1.twinx()

# Create two plots on different axes
ax1.bar(product_count['Product'], product_count['Quantity Ordered'], color = 'teal', label = 'Quantity Ordered')
ax2.plot(product_count['Product'], product_count['Price Each'], 'b--', label = 'Unit Price')

# Set the labels for shared x-axis
ax1.set_xticklabels(product_count['Product'].values,rotation = 'vertical', fontsize = 12)
ax1.set_xlabel('Products', fontsize=14)

# Set the label for y-axis
ax1.set_ylabel('Total Quantity Ordered',fontsize=14)
ax2.set_ylabel('Unit Price', fontsize=14)

# Set legend position
ax1.legend(loc='upper left',bbox_to_anchor=(0,1), fontsize=12)
ax2.legend(loc='upper left',bbox_to_anchor=(0,0.95), fontsize=12)

# Set plot title
fig.suptitle('Total Quantity Ordered and Unit Price per Product', fontsize=16)

# Show plot
plt.show()

In [ ]:
# Check for correlation between the price and quantity sold

most_sold_product = product_count[product_count['Quantity Ordered'] == product_count['Quantity Ordered'].max()].reset_index().iloc[0]['Product']


lowest_priced_product = product_count[product_count['Price Each'] == product_count['Price Each'].min()].reset_index().iloc[0]['Quantity Ordered']

print(f"The unit price of product is inversely related with the Quantity ordered which could be the reason why the {most_sold_product} has the lowest price {lowest_priced_product}.")

In [ ]:
df.groupby('Product')['Quantity Ordered'].sum().sort_values(ascending = False).reset_index().iloc[0]

<div style="background-color: #00AFAF; padding: 10px;">
    <h3>| Common group purchases</h3>
</div>

In [ ]:
# Check for items that are commonly purchased together

# Select all occurences of duplicated IDs 
order_groups = df[df['Order ID'].duplicated(keep =False)]

# Join all items with common Order ID
purchase_groups = order_groups.groupby('Order ID')['Product'].apply(lambda x: ','.join(x)).reset_index().rename(columns ={'Product': 'Groups'})

# Merge both dataframes
merged_orders =order_groups.merge(purchase_groups, how = 'left', on = 'Order ID')

In [ ]:
merged_orders

In [ ]:
# Remove all duplicates

purchase_groups_df= merged_orders.drop_duplicates(subset = ['Order ID'])
purchase_groups_df.head()

In [ ]:
# Subset dataframe for the five (5) most common groups

most_common_groups = purchase_groups_df['Groups'].value_counts()[0:5].reset_index().rename(columns = {'index':'Groups', 'Groups':'Quantity Ordered'})
most_common_groups

In [ ]:
# Plot most common groups

plt.figure(figsize=(10, 10))
sns.set_palette('viridis')

plt.pie(most_common_groups['Quantity Ordered'], labels = most_common_groups['Groups'], autopct='%1.1f%%', startangle=140)

plt.title('Commonly purchased item groups')
plt.legend(title="Categories", loc="upper right",bbox_to_anchor=(1.3, 1.2))

plt.show()

<div style="background-color: #00AFAF; padding: 10px;">
    <h3>| Summary</h3>
</div>

In [ ]:
summary = f""" The Sales data shows the following insights: 

- The dataset contains a total of {len(df):,} rows with columns {df.columns.to_list()} after data cleaning.

- The month of {highest_sales_month.iloc[0]['Month Name']} has the highest sales in the year and could be attributed to increased purchases during the holiday period. 
This increase in sales would require a proportionate increae in stock. 

- The three most ordered items: {quantity_product[:3]['Category'].tolist()} contribute to about {quantity_product[:3]['Quantity Ordered'].sum()/quantity_product['Quantity Ordered'].sum()*100:.0f}% of the total items sold. 

- The most sales occur in {most_orders_city[0]} with a total of {most_orders_city[1]:,} orders. This could be an insight for locating a new warehouse or an input in general logistics planning.

- {most_sold_product} is the most commonly sold item.

- The most common groups are {most_common_groups['Groups'].to_list()} which can be used as a basis for recommending products to the customer. An instance will be a recommendation of Lightning charging cable for someone who buys an iPhone and vice versa."""

print(summary)

In [ ]:
df_city.sort_values('Order ID', ascending  = False).reset_index(drop = True).iloc[0]['City']